{% extends '_base.html'%}
{% load static %}
{% load crispy_forms_tags%}
{% block title%}Reser-done{% endblock title %}
{% block content %}

    <div class="passwordrestcontent">
        <p>We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
        </p>
        <div class="passwordresetbuttons">
           <a href="{% url 'landingpage'%}"><button class="passwordresetbtn" type="submit">OKAY</button></a> 
            
        </div>
    </div>


{% endblock content %}