{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block title%}Logout{% endblock title %}
{% block content %}

    <p>Did you forget your password? An email will be sent in the email specified below to reset password</p>

    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="passwordresetbuttons">
        <button class="passwordresetbtn" type="submit">SendEmail</button>
        <button class="passwordresetbtn"><a href="{% url 'home'%}">cancel</a></button>
    </div>

    </form>
   
{% endblock content %}